@import 'font-face'
font-face('Polaris', 'polaris-webfont')

$font-family-sans-serif = 'Lucida Grande', Verdana, Arial, sans-serif
$header-font = 'Polaris'

$text-color = #55483d
$link-color = #a2591c

$screen-xs = 320px
$screen-sm = 550px
$screen-md = 768px

@import 'bootstrap'

$headerBackground = #ed7717
$headerText = #563921
$headingText = #d25e00
$border-color = #dddddd

body
  background-image url('/images/main.jpg')
  background-size cover
  background-position center

.site
  max-width 930px
  margin 0px auto
  margin-top 40px
  padding 15px
  @media $media-min-tablet
    margin-top 80px

  h2
    font-family $header-font
    font-style italic
    color $headingText
    display block
    margin 0px
    height 30px
    font-size 1.7rem
    padding-left 15px
    @media $media-min-desktop
      padding-left 25px

.header
  min-height 80px
  background $headerBackground
  text-align center
  position relative

  .logo
    position absolute
    translate(-50%, -50%)
    margin-top 40px
    z-index 1
    max-width: 90%
    @media $media-min-desktop
      max-width 35%

  .pencil
    display none
    @media $media-min-desktop
      position absolute
      top -25px
      right 0px
      display block


  .menu
    @extends .col-xs-12
    padding-top 30px
    padding-bottom 15px
    border-bottom 1px solid $border-color
    margin-top 80px
    background-color white
    background-image url('/images/sub-header-background.png')
    background-size cover
    clearfix()
    @media $media-min-desktop
      margin-top 0
      padding-top 0
      padding-bottom 0
      background transparent

    .divider
      @extends .col-md-4
      display none
      @media $media-min-desktop
        display block

    a
      @extends .col-md-2
      @extends .col-sm-3
      @extends .col-xs-6
      font-size 1.7rem
      color $headerText
      line-height 45px
      padding-top 5px
      font-family $header-font
      text-transform uppercase
      @media $media-min-tablet
        padding-top: 15px
      @media $media-min-desktop
        padding-top: 5px
        line-height: 75px

.footer
  text-shadow 1px 1px 1px #87775b
  padding 10px 0
  font-size 1.2rem
  color #180a0b

  span
    display none
    @media $media-min-tablet
      display inline

  span.extra
    display none
    @media $media-min-lg-desktop
      display inline


  .copyright
    text-align left
    @extend .col-md-10
    @extend .col-sm-9
    @extend .col-xs-8

  .madeby
    text-align right
    @extend .col-md-2
    @extend .col-sm-3
    @extend .col-xs-4

.subHeader
  background #fff
  padding-top 20px
  @media $media-min-desktop
    background url('/images/sub-header-background.png') no-repeat top center #fff
    background-size 100% 70px
    padding-top 30px

.index
  .subheader
    padding 0
    background-size 100% 90px

  .slogan
    font-family $header-font
    font-style italic
    font-size 1.7rem
    line-height 30px
    border-bottom 5px solid $border-color
    text-align center
    color grey
    padding 10px 50px
    margin-top 10px
    @media $media-min-tablet
      margin-top 15px
      padding 15px 50px
    @media $media-min-desktop
      margin-top 30px

  .slider
    background-image url('/images/main.jpg')
    background-size cover
    background-position center
    width 100%
    height 150px
    @media $media-min-tablet
      height 300px

  .services
    padding-top 30px

    .column p
      padding-top 0
      @media $media-min-desktop
        padding 25px



.services
  background-color white
  background-size 100% 90px
  padding-top 50px

  .column
    @extend .col-md-4
    @extend .col-sm-12
    padding 0

    p
      padding 15px
      text-align justify

    .image
      height 100px
      background-repeat no-repeat
      background-position center
      background-size cover
      @media $media-min-tablet
        height 150px
      @media $media-min-desktop
        height 200px

      &.offer1
        background-image: embedurl('/images/offer1.jpg')
      &.offer2
        background-image: url('/images/offer2.jpg')
      &.offer3
        background-image: url('/images/offer3.jpg')

.contact
  .content
    background white
    .column
      @extend .col-xs-12

      &.info
        @extend .col-sm-5
        @extend .col-md-5
        @extend .col-lg-4
        @media $media-min-desktop
          padding 25px

        p
          white-space pre-line

      &.map
        @extend .col-sm-7
        @extend .col-md-7
        @extend .col-lg-8
        @media $media-min-desktop
          padding 25px

        iframe
          width 100%
          height 300px
          border 1px solid $border-color
          @media $media-min-tablet
            height 400px
          @media $media-min-desktop
            height 500px



