$screen-xs = 320px
$screen-sm = 550px
$screen-md = 768px
@import 'bootstrap'

$headerBackground = #ed7717
$headerText = #55483d
$link = #a2591c

$subHeaderBackground= #eeeeee
$subHeaderBorder = #d7d7d7

$text = #55483d
$headingText = #d25e00;

body
  background-image url('/images/main.jpg')
  background-size cover
  background-position center

.site
  max-width 930px
  margin 0px auto
  margin-top 80px
  padding 15px

  h2
    color $headingText
    display block
    margin 0px
    height 30px
    font-size 2rem
    padding-left 10px


.header
  min-height 80px
  background $headerBackground
  text-align center
  position relative

  .logo
    position absolute
    translate(-50%, -50%)
    margin-top 40px
    z-index 1
    @media $media-min-desktop
      max-width 35%

  .pencil
    display none
    @media $media-min-desktop
      position absolute
      top -25px
      right 0px
      display block


  .menu
    @extends .col-xs-12
    padding-top 20px
    margin-top 80px
    background white
    clearfix()

    @media $media-min-desktop
      margin-top 0
      padding 0
      background transparent

    .divider
      @extends .col-md-4
      display none
      @media $media-min-desktop
        display block


    a
      @extends .col-md-2
      @extends .col-sm-3
      @extends .col-xs-6
      font-size 2rem
      color $headerText
      line-height 80px

.services
  background #fff
  padding-top 00px
  @media $media-min-desktop
    background url('/images/sub-header-background.png') no-repeat top center #fff
    padding-top 50px

  .column
    @extend .col-md-4
    @extend .col-sm-12
    padding 0

    p
      padding 15px
      text-align justify

    .image
      height 100px
      background-repeat no-repeat
      background-position center
      background-size cover
      @media $media-min-desktop
        height 200px

      &.offer1
        background-image: embedurl('/images/offer1.jpg')
      &.offer2
        background-image: url('/images/offer2.jpg')
      &.offer3
        background-image: url('/images/offer3.jpg')
