extends layout

block content
	.contact
		.row.subheader
			.column
				h2 Kontakt
		.row.content
			.column.info
				h3 Gałęzewski Paweł. Stolarstwo
				p.
					Usługi stolarskie na terenie województwa Wielkopolskiego
					ul. Krośnieńska 4
					60-162 Poznań
					<a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=+Ga%C5%82%C4%99zewski+Pawe%C5%82.+Stolarstwo&amp;aq=&amp;sll=52.384236,16.858711&amp;sspn=0.01015,0.017574&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;iwloc=A&amp;ll=52.384236,16.858711&amp;spn=0.006295,0.006295">Pokaż jak dojechać</a>
			.column.map.
				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=+Ga%C5%82%C4%99zewski+Pawe%C5%82.+Stolarstwo&amp;aq=&amp;sll=52.384236,16.858711&amp;sspn=0.01015,0.017574&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;iwloc=A&amp;ll=52.384236,16.858711&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>

