.row.services
	.column
		h2 Drewniane drzwi
		img(src='/images/offer1.jpg')
		p some content
	.column
		h2 Drewniane schody
		img(src='/images/offer2.jpg')
		p some content
	.column
		h2 Drewniane meble
		img(src='/images/offer3.jpg')
		p some content
